<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="floating_base">

<xacro:property name="PI" value="3.14159265359" />
<xacro:property name="PI_2" value="1.57079632679" />

<xacro:macro name="floating_base_link" params="name">
	<link name="floating_base_${name}"> 
	    <visual>
	     <origin xyz="0 0 0" rpy="0 0 0" />
	     <geometry>
		<box size="0.05 0.05 0.05" />
	     </geometry>
	     <material name="Cyan">
	       <color rgba="0 1.0 1.0 1.0"/>
	     </material>
	   </visual>
	</link>
</xacro:macro>

<xacro:macro name="floating_base_joint" params="name type parent_link child_link axis_xyz">
	<joint name="floating_base_${name}" type="${type}"> 
	  <parent link="floating_base_${parent_link}"/>
          <child link="floating_base_${child_link}"/>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <axis xyz="${axis_xyz}" />
	  <limit velocity="1000.0" effort="1000.0" lower="-10.0" upper="10.0" />
        </joint>
</xacro:macro>

<!-- LINKS -->
<xacro:floating_base_link name="world"/>
<xacro:floating_base_link name="l1"/>
<xacro:floating_base_link name="l2"/>
<xacro:floating_base_link name="l3"/>
<xacro:floating_base_link name="l4"/>
<xacro:floating_base_link name="l5"/>
<xacro:floating_base_link name="l6"/>

<!-- JOINTS -->
<xacro:floating_base_joint name="Px" type="prismatic" parent_link="world" child_link="l1" axis_xyz="1 0 0"/>
<xacro:floating_base_joint name="Py" type="prismatic" parent_link="l1" child_link="l2" axis_xyz="0 1 0"/>
<xacro:floating_base_joint name="Pz" type="prismatic" parent_link="l2" child_link="l3" axis_xyz="0 0 1"/>
<xacro:floating_base_joint name="Rx" type="revolute" parent_link="l3" child_link="l4" axis_xyz="1 0 0"/>
<xacro:floating_base_joint name="Ry" type="revolute" parent_link="l4" child_link="l5" axis_xyz="0 1 0"/>
<xacro:floating_base_joint name="Rz" type="revolute" parent_link="l5" child_link="l6" axis_xyz="0 0 1"/>

</robot>
