<launch>
	
  <!--rosparam param="zeros">{'Xtion_cam_body_joint':1.309}</rosparam-->

  <!-- Hand made calibration, we should find a better way -->
		<node name="asus_tf" type="static_transform_publisher" pkg="tf" args="0.03 0.06 -0.03 0.00 1.309 0.0 /gaze /camera_link 10" /> <!--Real xtion pro live-->

</launch>