<launch>  

  <param name="depth_registration" value="true"/>
  <param name="color_depth_synchronization" value="true"/>

  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam1" args="set /camera/driver depth_registration true" />
  <node pkg="dynamic_reconfigure" type="dynparam" name="dynparam2" args="set /camera/driver color_synchronization true" />
  
  <include file="$(find drc_shared)/launch/asus_tf_$(env WALKMAN_PROFILE).launch" />

</launch>